
<div class="cover-container">

  <!-- Intro -->
  <div class="inner cover">
    <h1 class="cover-heading">Codaisseurify.</h1>
    <p class="lead">Build your personal music collection.<br>Find, add and update your favorite artists and their songs.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-primary">Start now</a>
    </p>
  </div>
</div>

  <!-- Thumbnails -->
  <!-- <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  </div> -->
